@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Quicksand', sans-serif;
    }

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bababa #e8e8e8;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #e8e8e8;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 10px;
    border: 2px solid #e3e3e3;
  }
}

@layer components {
    .grid-auto-fill {
        grid-template-columns: repeat(auto-fill, 240px);
    }
    @media (max-width: 640px) {
        .grid-auto-fill {
            grid-template-columns: repeat(auto-fill, 140px);
        }
    }
    .primary-button {
        @apply flex justify-center items-center h-[50px] mt-4 mb-8 rounded-lg text-white font-bold cursor-pointer bg-hospital-green;
    }
    .secondary-button {
        @apply flex justify-center items-center h-[50px] mt-4 mb-8 rounded-lg border-2 border-hospital-green text-hospital-green font-bold cursor-pointer bg-white;
    }
    .alert-button {
        @apply flex justify-center items-center h-[50px] mt-4 mb-8 rounded-lg text-white font-bold cursor-pointer bg-red-600;
    }
}

/* @layer utilities {
} */